<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{parts/common :: html_head()}"></head>
<body>
	<div class="container">
		<header>
			<nav class="navbar navbar-light bg-light">
				<ul class="navbar-nav">
					<li class="nav-item">こんちには、[[${session.userId}]] さん</li>
					<li><a th:href="@{/logout}">ログアウト</a></li>
				</ul>
			</nav>
		</header>
		<h1 class="my-4 h3">購入完了</h1>
		<div class="row">
			<div class="col-md-12">
				<div class="alert alert-success" th:if="${message}">[[${message}]]</div>
				<p>
					ご購入ありがとうございます。<br> 商品が購入されました。
				</p>
				<p>
					<a th:href="@{/itemList}" class="btn btn-light">商品一覧へ戻る</a>
				</p>

			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
	<th:block th:replace="~{parts/common :: javascripts()}"></th:block>
</body>
</html>